.error, .msg-error{
	color: #a94442;
}
input.error, textarea.error, select.error{
	border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
input.error:focus, textarea.error:focus, select.error:focus{
	border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

article.body{
	padding-bottom: 50px;
}

.navbar {
	border-radius: 0px !important;
}

.syntaxhighlighter .toolbar{
	display: none !important;
}